* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	background-color: #F3F6FD;
}

.app {
	display: flex;
}

.logo {
	margin-bottom: 50px;
}

.panel {
	min-height: 100vh;
	padding: 30px;
	background: white;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
}

.menu__list {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
}

.menu__item {
	cursor: pointer;

	width: 45px;
	height: 45px;

	background: #FFFFFF;
	border: none;
	border-radius: 14px;
	box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
}

.menu__item:hover {
	background: #6A6AFB;
}

.menu__item:hover img {
	filter: brightness(0) invert(1);
}

.menu__item_active {
	background: #5051F9;
}

.menu__item_active img {
	filter: brightness(0) invert(1);
}

.menu__add {
	cursor: pointer;

	width: 45px;
	height: 45px;

	background: none;
	border: 1px solid #CAD5FF;
	border-radius: 14px;
}

.menu__add:hover {
	background: #EFF2FF;
}

.content {
	min-width: 900px;
	padding: 45px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-size: 30px;
	line-height: 33px;
	color: #000000;
}

.progress {
	display: flex;
	flex-direction: column;
	gap: 12px;
	min-width: 235px;
}

.progress__text {
	display: flex;
	justify-content: space-between;
}

.progress__name {
	font-size: 14px;
	line-height: 16px;
	color: #232360;
}

.progress__percent {
	font-size: 12px;
	line-height: 13px;
	color: #768396;
}

.progress__bar {
	position: relative;

	width: 100%;
	height: 5px;

	background: #E6E9ED;
	border-radius: 4px;
}

.progress__cover-bar {
	position: absolute;

	height: 5px;

	background: #5051F9;
	border-radius: 4px;

	transition: all 0.5s;
}

main {
	margin-top: 30px;
}

.habit {
	display: flex;
	align-items: center;

	margin-bottom: 12px;

	background: #FFFFFF;
	border-radius: 10px;
}

.habit__day {
	min-width: 150px;
	padding: 20px 40px;

	font-size: 14px;
	line-height: 16px;

	background: #FBFAFF;
	border-right: 1px solid #E7EBFB;
	border-radius: 10px 0 0 10px;
}

.habit__comment {
	padding: 20px 25px;
	font-size: 16px;
	line-height: 18px;
}

.habit__delete {
	cursor: pointer;

	margin-right: 10px;
	margin-left: auto;
	padding: 2px;

	background: none;
	border: none;
	border-radius: 5px;
}

.habit__delete:hover {
	background: #EFF2FF;
}

input {
	flex: 1;

	padding: 12px 20px;

	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;

	background: #FFFFFF;
	border: 1px solid #E7EBFB;
	border-radius: 9px;
}

input::placeholder {
	color: #8899A8;
}

input.error {
	border: 1px solid red;
}

.habit__form {
	position: relative;

	display: flex;
	gap: 15px;

	width: 100%;
	padding: 0px 10px 0 25px ;
}

.input_icon {
	padding-left: 45px;
}

.input__icon {
	position: absolute;
	top: 10px;
	left: 45px;
}

.button {
	cursor: pointer;

	padding: 14px 30px;

	font-size: 13px;
	line-height: 14px;
	color: #5051F9;

	background: #EDECFE;
	border: none;
	border-radius: 9px;
}

.button:hover {
	background: #dcdaff;
}

.cover {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.25);
}

.cover_hidden {
	display: none;
}

.popup {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: 600px;
	padding: 20px;

	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
}

.popup__close {
	cursor: pointer;

	position: absolute;
	top: 15px;
	right: 15px;

	background: none;
	border: none;
}

h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 27px;
}

.icon-label {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 16px;
	color: #768396;
}

.icon-select {
	display: flex;
	gap: 25px;
	margin-bottom: 20px;
}

.icon {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 45px;
	height: 45px;

	background: white;
	border: 1px solid #5051F9;
	border-radius: 14px;
}

.icon_active {
	background: #5051F9;
}

.icon:hover {
	background: #6A6AFB;
}

.icon:hover img {
	filter: brightness(0) invert(1);
}

.icon_active img {
	filter: brightness(0) invert(1);
}

.popup__form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;

	width: 100%;
}

.popup__form input {
	width: 100%;
}
